node_modules/
.env
.firebase/
firebase-debug.log
firebase-debug.*.log
functions/lib/
frontend/build/
frontend/.flutter-plugins
frontend/.flutter-plugins-dependencies
frontend/.packages
frontend/.dart_tool/

